  <mat-toolbar class="toolbar">
    <button mat-icon-button class="example-icon toolbar-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <div class="spacer"></div>


    <mat-form-field appearance="standard" class="search-field">
      <mat-label>Pesquisar</mat-label>
      <input matInput>
    </mat-form-field>

    <button mat-icon-button class="example-icon toolbar-icon" aria-label="Example icon-button with share icon">
      <mat-icon>person</mat-icon>
    </button>
    <button class="toolbar-icon margin-right-16">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>

  <div class="chart-header">
    
  </div>

    <div class="card">
      <mat-card class="card-chield">Simple card</mat-card>
      <mat-card class="card-chield">Simple card</mat-card>
      <mat-card class="card-chield">Simple card</mat-card>
      <mat-card class="card-chield">Simple card</mat-card>
      <mat-card class="card-chield">Simple card</mat-card>
      <mat-card class="card-chield">Simple card</mat-card>
      <mat-card class="card-chield">Simple card</mat-card>
      <mat-card class="card-chield">Simple card</mat-card>
      <mat-card class="card-chield">Simple card</mat-card>
      <mat-card class="card-chield">Simple card</mat-card>
      <mat-card class="card-chield">Simple card</mat-card>
      <mat-card class="card-chield">Simple card</mat-card>
      <mat-card class="card-chield">Simple card</mat-card>
    </div>


<router-outlet></router-outlet>